@{
    Layout = "_Layout";
}

<div class="settingsWrapper">
    <div class="settingsSidebar">
        <h1>Einstellungen</h1>
        <ul>
            <li>Passwort ändern</li>
            <li>E-Mail ändern</li>
            <li>Settings</li>
            <li>Settings</li>
            <li>Settings</li>
            <li>Settings</li>
        </ul>
    </div>
    <div class="settingsContent">
    </div>
</div>