@using Microsoft.AspNetCore.Identity
@using ImageCore.Models
@inject UserManager<UserModel> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ImageCore</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div id="usernavigation" class="userNavigation">
    <div class="userNavigationWrapper">
        <div class="userNavigationHeader">
            <h1>Navigation</h1>
            <h1 class="CloseNavigation" onclick="toggleNavigationSidebar()">X</h1>
        </div>
        <ul class="userNavigationList">
            <li onclick="this.children[1].click()">
                <i>O</i>
                <a asp-controller="User" asp-action="Show" asp-route-id="@UserManager.GetUserId(User)">Profil</a>
            </li>
            <li onclick="this.children[1].click()">
                <i>O</i>
                <a asp-controller="Project" asp-action="Index">Projekte</a>
            </li>
            <li onclick="this.children[1].click()">
                <i>O</i>
                <a asp-controller="Contact" asp-action="Index">Kontakte</a>
            </li>
            <li onclick="this.children[1].click()">
                <i>O</i>
                <a asp-controller="UserSettings" asp-action="Index">Einstellungen</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li onclick="this.children[1].click()">
                    <i>O</i>
                    <a asp-controller="User" asp-action="Index" asp-route-pagination="0">User Liste</a>
                </li>
            }
            <li onclick="this.children[1].click()">
                <i>O</i>
                <a asp-controller="Login" asp-action="Logout">Abmelden</a>
            </li>
        </ul>
    </div>
</div>
<nav>
    <div class="navbarContainer">
        <div class="navbar-header" class="navImage" onclick="document.getElementById('logolink').click()">
            <a id="logolink" asp-controller="Home" asp-action="Index" class=""></a>
        </div>
        <ul class="navbarRouteList">
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Project" asp-action="Index">Projects</a>
            </li>
            <li>
                <a asp-controller="Contact" asp-action="Index">Contacts</a>
            </li>
        </ul>
        <div class="navImage" onclick="toggleNavigationSidebar()">
            <a id="profileLink" asp-controller="User" asp-action="Show"></a>
        </div>
    </div>
</nav>
<div class="renderBody">
    @RenderBody()
</div>
<footer>
    <div class="footerChildWrapper">
        <div class="footerLinkWrapper">
            <a id="profileLink" asp-controller="Policy" asp-action="Index">Impressum</a>
            <a id="profileLink" asp-controller="AboutUs" asp-action="Index">About us</a>
        </div>
        <p>Copyright by ImageCore 2021</p>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

<script>
    document.getElementById("usernavigation").style.right = "-100vw"
    function toggleNavigationSidebar()
    {
        let rightProp = document.getElementById("usernavigation").style.right;
        document.getElementById("usernavigation").style.right =  (rightProp === "0px") ? "-100vw" : "0px";
    }
</script>