@{
    Layout = "_Layout";
}
<div class="settingsWrapper">
    <div class="settingsSidebar">
        <h1>Einstellungen</h1>
        <ul>
            <li><a class="settingsSidebarLink" id="profileLink" asp-controller="ChangePassword" asp-action="Index">Password ändern</a></li>
            <li><a class="settingsSidebarLink" id="profileLink" asp-controller="ChangeEmail" asp-action="Index">E-Mail ändern</a></li>
            <li><a class="settingsSidebarLink" id="profileLink" asp-controller="UserSessionList" asp-action="Index">Session Liste</a></li>
            <li><a class="settingsSidebarLink" id="profileLink" asp-controller="User" asp-action="Delete">Account Löschen</a></li>
        </ul>
    </div>
    <div class="settingsContent">
        @RenderBody()
    </div>
</div>