@{
    Layout = "_LayoutSettings";
}
@model ImageCore.ViewModel.UserSettings.ChangeEmailViewModel

@if (ViewData["Notification"] is not null)
{
    <p>
        @ViewData["Confirmation"]
    </p>
}
@if (ViewData["Notification"] is not null)
{
    <p>
        @ViewData["Notification"]
    </p>
}

@if (ViewData["Invalid"] is not null)
{
    <p>
        Einige deiner Angaben sind nicht richtig
    </p>
}

<h1 class="settingsTitle">Email ändern</h1>
<form class="settingsForm" asp-controller="ChangeEmail" asp-action="Update">
    @Html.AntiForgeryToken()
    <span>Alte E-Mail</span>
    <input class="settingsInput" asp-for="CurrentEmail" type="email" name="CurrentEmail">
    <span class="warningText" asp-validation-for="CurrentEmail"></span>
    <span>Neue E-Mail</span>
    <input class="settingsInput" asp-for="NewEmail" type="email" name="NewEmail">
    <span class="warningText" asp-validation-for="NewEmail"></span>
    <span>Neue E-Mail wiederholen</span>
    <input class="settingsInput" type="email" asp-for="NewEmailRepeat" name="NewEmailRepeat">
    <span class="warningText" asp-validation-for="NewEmailRepeat"></span>
    <button type="submit">Senden</button>
</form>