@{
    Layout = "_LayoutSettings";
}

<h1 class="settingsTitle">Email ändern</h1>
<form class="settingsForm">
    <span>Alte E-Mail</span>
    <input class="settingsInput" type="email" required name="oldEmail">
    <span>Neue E-Mail</span>
    <input class="settingsInput" type="email" required name="newEmail" >
    <span>Neue E-Mail wiederholen</span>
    <input class="settingsInput" type="email" required name="newEmailRepeat" >
    <span>Passwort</span>
    <input class="settingsInput" type="password" name="password">
    <button type="submit">Senden</button>
</form>