@{
    Layout = "_LayoutSettings";
}

@if (ViewData["Notification"] is not null)
{
    <p>
        @ViewData["Confirmation"]
    </p>
}
@if (ViewData["Notification"] is not null)
{
    <p>
        @ViewData["Notification"]
    </p>
}

@if (ViewData["Invalid"] is not null)
{
    <p>
        Einige deiner Angaben sind nicht richtig
    </p>
}

<h1 class="settingsTitle">Email ändern</h1>
<form class="settingsForm" asp-controller="ChangeEmail" asp-action="Update">
    @Html.AntiForgeryToken()
    <span>Alte E-Mail</span>
    <input class="settingsInput" type="email" required name="CurrentEmail">
    <span>Neue E-Mail</span>
    <input class="settingsInput" type="email" required name="NewEmail">
    <span>Neue E-Mail wiederholen</span>
    <input class="settingsInput" type="email" required name="NewEmailRepeat">
    <button type="submit">Senden</button>
</form>