@{
    Layout = "_LayoutSettings";
}

<h1 class="settingsTitle">Aktion bestätigen</h1>

@if (ViewData["error"] is not null)
{
    <div class="errorForm">
        <p class="errorWarning">!</p>
        <p class="errorMessage">
            @ViewData["error"]
        </p>
    </div>
    
}
else
{
    <div class="settingsForm">
        <span>Dein Passwort wurde erfolgreich geändert.</span>
    </div>
}