@model ImageCore.ViewModel.RegisterViewModel
@{
    Layout = "_NoHeader";
}

<div class="loginArea">
    <form class="loginBlock" asp-controller="Registration" asp-action="Store" method="POST">
        @Html.AntiForgeryToken()
        <h1>Registration</h1>
        <h1>@ViewData["error"]</h1>
        <span>Username</span>
        <input type="text" name="username" placeholder="username" minlength="8" maxlength="30" pattern="^[a-zA-Z0-9]*$" required
               title="Benutzername muss mindestens 8 Zeichen und maximal 30 Zeichen lang sein und keine Sonderzeichen erlaubt">
        <span>E-Mail</span>
        <input type="email" placeholder="email" name="email" minlength="5" required >
        <span>Passwort</span>
        <input type="password" name="password" pattern="^[a-zA-Z0-9!@@#$%^&*()_+]*$" minlength="8"
               title="Atleast 8 Characters required and only numbers letters and @@#$%^&*()_+ allowed " >
        <span>Passwort wiederholen</span>
        <input type="password" name="passwordrepeat" pattern="^[a-zA-Z0-9!@@#$%^&*()_+]*$" minlength="8"
               title="Atleast 8 Characters required and only numbers letters and @@#$%^&*()_+ allowed" required >
        <button type="submit">Registrieren</button>
    </form>
</div>
