@model ImageCore.ViewModel.RegisterViewModel
@{
    Layout = "_NoHeader";
}

<div class="loginArea">
    <form class="loginBlock" asp-controller="Registration" asp-action="Store" method="POST">
        @Html.AntiForgeryToken()
        <h1>Registration</h1>
        <span>Username</span>
        <input type="text" name="username" asp-for="Username" placeholder="username">
        <span class="warningText" asp-validation-for="Username"></span>
        <span>E-Mail</span>
        <input type="email" asp-for="Email" placeholder="email" name="email" >
        <span class="warningText" asp-validation-for="Email"></span>
        <span>Passwort</span>
        <input type="password" asp-for="Password" name="password">
        <span class="warningText" asp-validation-for="Password"></span>
        <span>Passwort wiederholen</span>
        <input type="password" asp-for="PasswordRepeat" name="passwordrepeat">
        <span class="warningText" asp-validation-for="PasswordRepeat"></span>
        <button type="submit">Registrieren</button>
    </form>
</div>
