@{
    Layout = "_NoHeader";
}

<div class="loginArea">
    <form class="loginBlock">
        <h1>Registration</h1>
        <span>Username</span>
        <input type="text" placeholder="username">
        <span>E-Mail</span>
        <input type="email" placeholder="email">
        <span>Passwort</span>
        <input type="password">
        <span>Passwort wiederholen</span>
        <input type="password">
        <button type="submit">Registrieren</button>
    </form>
</div>