@{
    Layout = "_LayoutSettings";
}

@if (TempData["Message"] is not null)
{
    <p>
        @TempData["Message"]
    </p>
}

@if (ViewData["Invalid"] is not null)
{
    <p>
        Einige deiner Angaben sind nicht richtig
    </p>
}

<h1 class="settingsTitle">Benutzerprofilbild ändern</h1>
<form class="settingsForm" asp-controller="ChangeUserImage" asp-action="Store" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <span>Profilbild</span>
    <input class="settingsInput" type="file" required name="File">
    <button type="submit">Senden</button>
</form>