@{
    Layout = "_Layout";
}

<div class="UserListWrapper">
    <div class="UserListHeader">
        <div class="userListHeaderUpper">
            <h1 >Test</h1>
        </div>
        <div class="UserListHeaderLower">
            <input type="text" placeholder="suchen">
            <div class="filterOptionWrapper">
                <div class="filterOption">
                    <p>Name</p>
                    <div class="arrowDown"></div>
                </div>
                <div class="filterOption">
                    <p>Email</p>
                    <div class="arrowDown"></div>
                </div>
                <div class="filterOption">
                    <p>Rolle</p>
                    <div class="arrowDown"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="UserListList">
        <div class="UserListEntry UserListEntryHeader">
                <div class="userEntryImage"></div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader userEntryHeaderHeader">Name</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader userEntryHeaderHeader">E-Mail</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader userEntryHeaderHeader">Role</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader userEntryHeaderHeader">Erstellt</p>
                </div>
            </div>
        @for (int x = 0; x < 5; x++)
        {
            <div class="UserListEntry">
                <img class="userEntryImage" src="~/images/Abstract-Background-Best-Wallpaper-14092.jpg">
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader">Name</p>
                    <p class="userEntryValue">Tim Jansmann</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader">E-Mail</p>
                    <p class="userEntryValue">g.jansmann@gmail.com</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader">Role</p>
                    <p class="userEntryValue">Admin</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader">Erstellt</p>
                    <p class="userEntryValue">01.01.1970</p>
                </div>
            </div>
        }
    </div>
    <div class="UserListPaginationWrapper">
        <div class="UserPagination">
            <div class="UserPaginationBack">
                <p><</p>
            </div>
            <div class="UserPagionationNumbers">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <p>6</p>
                <p>7</p>
            </div>
            <div class="UserPaginationForward">
                <p>></p>
            </div>
        </div>
    </div>
</div>