@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Routing
@model ImageCore.Models.ViewModel.User.UserViewModel;

<div class="userWrapper">
    <div class="user">
        <div class="userImage"></div>
        <div class="userDescription">
            <div class="userInformation">
                <h1>@Model.Username</h1>
                <ul>
                    <li>Information 1</li>
                    <li>Information 2</li>
                    <li>Information 3</li>
                </ul>
            </div>
            <div class="userActions">
                @if (!Model.isUser)
                {
                    if (Model.isContact)
                    {
                        <button onclick="fetchConctact(@Url.Action("Destroy", "Contact", Model.UserId))">
                            Kontakt Entfernen
                        </button>
                    }
                    else
                    {
                        <button onclick="fetchConctact(@Url.Action("Store", "Contact", Model.UserId))">
                            Kontakt hinzufügen
                        </button>
                    }
                }
                <button>Action 2</button>
                <button>Action 3</button>
                <button>Action 4</button>
            </div>
        </div>
    </div>
    <div class="projectList">
        <div class="projectListEntry">
            <img src="~/images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="~/images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="~/images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="~/images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="~/images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="~/images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fetchConctact(url)
    {
        fetch(url)
        .then(res => res.json())
        .then(res => {
            console.log(res);
        });
    }
        
</script>