@{
    Layout = "_LayoutSettings";
}

<h1 class="settingsTitle">Account löschen</h1>
<form class="settingsForm">
    <h2>Bist du sicher dass du deinen Account löschen möchtest?</h2>
    <span>Passwort</span>
    <input class="settingsInput" type="password" required name="password">
    <button type="submit">Senden</button>
</form>