<div id="propertybarContainer">
  <div class="propertyContainer">
    <h5>Color</h5>
    <div class="colorContainer">
      <div class="colorInputContainer">
        <input type="color" #colorInput1 id="colorInput1" value="#ffffff" />
        <input type="color" #colorInput2 id="colorInput2" value="#ffffff" />
      </div>
      <div id="pickArea" style="background-color: rgb(255,0,0)"></div>
    </div>
  </div>
  <div class="propertyContainer">
    <h5>Properties</h5>
    <div class="propertyInputContainer">
      <label for="width">Width:</label>
      <input type="number" id="widthProperty" #widthProperty name="width" />
      <label for="width">Height:</label>
      <input type="number" id="heightProperty" #heightProperty name="height" />
      <label for="width">X:</label>
      <input type="number" id="xPosition" #xPosition name="x" />
      <label for="width">Y:</label>
      <input type="number" id="yPosition" #yPosition name="y" />
    </div>
  </div>
  <div class="propertyContainer">
    <h5>Filter</h5>
    <div class="filterContainer">
      <div class="filterButton"></div>
      <div class="filterButton"></div>
      <div class="filterButton"></div>
      <div class="filterButton"></div>
      <div class="filterButton"></div>
      <div class="filterButton"></div>
    </div>
  </div>
  <div class="propertyContainer">
    <h5>Layer</h5>
    <div class="layerContainer">
      <layerbox></layerbox>
      <layerbox></layerbox>
      <layerbox></layerbox>
      <layerbox></layerbox>
      <layerbox></layerbox>
      <layerbox></layerbox>
      <layerbox></layerbox>
    </div>
  </div>
</div>
