@{
    Layout = "_NoHeader";
}

<div class="loginArea">
    <form class="loginBlock">
        <h1>Login</h1>
        <span>E-Mail</span>
        <input type="email" id="mail" required  title="Test" placeholder=" " >
        <span>Password</span>
        <!-- mindestens ein: kleinen letter,großen letter,special character,zahl und mind 8 character lang oder mehr -->
        <input type="password" required placeholder=" ">
        <button type="submit">Login</button>
    </form>
</div>
