@{
    Layout = "_NoHeader";
}

<div class="loginArea">
    <form class="loginBlock">
        <h1>Login</h1>
        <span>E-Mail</span>
        <input type="email" >
        <span>Password</span>
        <input type="password" >
        <button type="submit">Login</button>
    </form>
</div>