@{
    Layout = "_LayoutSettings";
}

<h1 class="settingsTitle">Handynr hinzufügen</h1>
<form class="settingsForm" asp-controller="AddPhonenumber" asp-action="Update">
    <span>Handynummer</span>
    <input class="settingsInput" type="tel" required name="PhoneNumber" >
    <span>Handynummer wiederholen</span>
    <input class="settingsInput" type="tel" required name="PhoneNumberRepeat" >
    <button type="submit">Senden</button>
</form>