@{
    Layout = "_Layout";
}

<div class="homeWrapper">
    <div class="introduction">
        <h1 class="introductionTitle">ImageCore</h1>
        <h2 class="introductionSubTitle">Edits in realtime</h2>
    </div>
    <div class="features">
        <div class="featureWrapper">
            <div class="feature1">
                <h1>
                    Projekte jederzeit online aufrufbar
                </h1>
                <div class="featureCircle feature1Img">

                </div>
            </div>
            <div class="feature2">
                <h1>
                    Teile deine Projekte
                </h1>
                <div class="featureCircle feature2Img">

                </div>
            </div>
            <div class="feature3">
                <h1>
                    Echtzeitbearbeitung in einer Gruppe
                </h1>
                <div class="featureCircle feature3Img">

                </div>
            </div>
        </div>
    </div>
    <div class="block1">
        <div class="imageBlock"></div>
        <div class="blockTextWrapper">
            <h1>Bildbearbeitung</h1>
            <p>Gestalte Bilder mit grenzenloser Kreativität mit Hilfe von ImageCore! ImageCore benutzt die neusten Werkzeuge, um dir es zu ermöglichen
                deine Bilder zu gestalten in vielen verschiedenen Wegen.</p>
        </div>
    </div>
    <div class="block2">
        <div class="blockTextWrapper">
            <h1>Echtzeit</h1>
            <p>Teile deine Kreativät mit anderen! ImageCore ermöglicht es dir verschiedene Projekte mit anderen Leuten zu teilen und
                zu bearbeiten. Und das ist noch nicht alles! Deine Projekte können mit anderen in Echtzeit bearbeitet werden. ImageCore erlaubt dir damit
                eine effektiv zu arbeiten, um an deine Ziele zu kommen.</p>
        </div>
        <div class="imageBlock"></div>
    </div>
    <div class="block3">
        <div class="imageBlock"></div>
        <div class="blockTextWrapper blockTextWrapper3">
            <h1>Starte jetzt</h1>
            <p>Starte jetzt und lasse deine Kreativität im vollen Rahmen entfalten. Trete jetzt unserer Community
                und zeige was du draufst hast mit deinem neuen Favoriten ImageCore!</p>
            
            <a  asp-controller="Registration" asp-action="Index" class="imageblockBtn">JETZT STARTEN</a>
            
        </div>
    </div>
</div>
