@{
    Layout = "_Layout";
}

<div class="homeWrapper">
    <div class="introduction">
        <h1 class="introductionTitle">Photoshop</h1>
        <h2 class="introductionSubTitle">in a new Style!</h2>
    </div>
    <div class="features">
        <div class="featureWrapper">
            <div class="feature1">
                <h1>
                    Hier könnte ein Text stehen
                </h1>
                <div class="featureCircle">

                </div>
            </div>
            <div class="feature2">
                <h1>
                    Hier könnte ein Text stehen
                </h1>
                <div class="featureCircle">

                </div>
            </div>
            <div class="feature3">
                <h1>
                    Hier könnte ein Text stehen
                </h1>
                <div class="featureCircle">

                </div>
            </div>
        </div>
    </div>
    <div class="block1">
        <div class="imageBlock"></div>
        <div class="blockTextWrapper">
            <h1>Hello World</h1>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in porta leo, nec faucibus metus.
                               Morbi eget volutpat nisl. Integer ac mi at ipsum feugiat blandit ac vitae dolor. Etiam commodo,
                               sem ac vestibulum pellentesque, sapien metus blandit velit, faucibus scelerisque odio lorem eget dui.
                               Integer sagittis, est id mollis aliquam, lacus metus molestie ligula, at ultrices tortor ligula ut diam.
                               Aliquam dapibus nunc eu ipsum laoreet sagittis. Donec odio eros, consectetur quis elit ultricies, malesuada eleifend lacus</p>
        </div>
    </div>
    <div class="block2">
        <div class="blockTextWrapper">
            <h1>Hello World</h1>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in porta leo, nec faucibus metus.
                               Morbi eget volutpat nisl. Integer ac mi at ipsum feugiat blandit ac vitae dolor. Etiam commodo,
                               sem ac vestibulum pellentesque, sapien metus blandit velit, faucibus scelerisque odio lorem eget dui.
                               Integer sagittis, est id mollis aliquam, lacus metus molestie ligula, at ultrices tortor ligula ut diam.
                               Aliquam dapibus nunc eu ipsum laoreet sagittis. Donec odio eros, consectetur quis elit ultricies, malesuada eleifend lacus</p>
        </div>
        <div class="imageBlock"></div>
    </div>
    <div class="block3">
        <div class="imageBlock"></div>
        <div class="blockTextWrapper blockTextWrapper3">
            <h1>Hello World</h1>
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in porta leo, nec faucibus metus.
                Morbi eget volutpat nisl. Integer ac mi at ipsum feugiat blandit ac vitae dolor. Etiam commodo,
                sem ac vestibulum pellentesque, sapien metus blandit velit, faucibus scelerisque odio lorem eget dui.
                Integer sagittis, est id mollis aliquam, lacus metus molestie ligula, at ultrices tortor ligula ut diam.
                Aliquam dapibus nunc eu ipsum laoreet sagittis. Donec odio eros, consectetur quis elit ultricies, malesuada eleifend lacus.</p>
            <button class="imageblockBtn">JETZT STARTEN</button>
            
        </div>
    </div>
</div>
