@{
    Layout = "_Layout";
}

<div class="project">
    <div class="projectHeader">
        <ul>
            <li>Meine Projekte</li>
            <li>Geteilte Projekte</li>
        </ul>
        <input class="searchInput" type="text" placeholder="Search for Project">
    </div>
    <div class="projectList">
        <div class="projectListEntry">
            <img src="images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
        <div class="projectListEntry">
            <img src="images/Abstract-Background-Best-Wallpaper-14092.jpg">
            <div class="projectListEntryText">
                <p>Projektname</p>
                <div class="projectEntryInformation">
                    <div class="viewIcon"></div>
                    <p>5</p>
                    <div class="userIcon"></div>
                    <p>5</p>
                </div>
            </div>
        </div>
    </div>
</div>