@{
    Layout = "_Layout";
}

<div class="project">
    <div class="projectHeader">
        <ul>
            <li>Meine Projekte</li>
            <li>Geteilte Projekte</li>
        </ul>
        <input class="searchInput" type="text" placeholder="Search for Project">
    </div>
    <div class="projectList">
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
        <div class="projectListEntry"></div>
    </div>
</div>