@{
    Layout = "_Layout";
}
@model ImageCore.Models.ViewModel.ContactRequestViewModel

<div class="contactWrapper">
    <div class="contactHeader">
        <ul>
            <li><a asp-controller="Contact" asp-action="Index">Freunde</a></li>
            <li>
                <a asp-controller="Contact" asp-action="ContactRequests">Anfragen</a>
            </li>
            <li>
                <a asp-controller="Contact" asp-action="ContactFind">Finden</a>
            </li>
        </ul>
    </div>
    @for(int x = 0; x < Model.Usernames.Count(); x++)
    {
        <div class="contactList contactListRequests">
            <a class="contactBlock contactBlockRequests" asp-controller="User" asp-action="Show" asp-route-id="@Model.UserIds[x]">
                <div class="contactProfileImage"></div>
                <p>@Model.Usernames[x]</p>
                <button class="acceptContactRequestBtn" id="contactEdit"
                        onclick="fetchConctact('@Url.Action("AcceptRequest", "Contact", new {contactId = Model.ContactIds[x]}, ViewData["RequestScheme"].ToString())','PUT',this);event.preventDefault();event.stopPropagation()">
                    Bestätigen
                </button>
                <button class="declineContactRequestBtn" id="contactEdit" 
                        onclick="fetchConctact('@Url.Action("DeclineRequest", "Contact", new {contactId = Model.ContactIds[x]}, ViewData["RequestScheme"].ToString())','DELETE',this);event.preventDefault();event.stopPropagation()">
                    Entfernen
                </button>
            </a>
        </div>
    }
</div>

<script>
    function fetchConctact(url,methodType,btn)
    {
        btn.parentElement.remove()
        fetch(url,{method: methodType})
        .then(res => res.json())
        .then(res => {
             if (res) btn.parentElement.remove()
        }); 
    }
        
</script>