@{
    Layout = "_Layout";
}

<div class="contactWrapper">
    <div class="contactHeader">
        <ul>
            <li>Freunde</li>
            <li>Anfragen</li>
            <li>Finden</li>
        </ul>
        <input type="text" placeholder="Kontakt suchen"> 
    </div>
    <div class="contactList">
        <div class="contactBlock">
            <div class="contactProfileImage"></div>
            <p>David Waelsch</p>
            <div class="contactEditIcon"></div>
        </div>
        <div class="contactBlock">
            <div class="contactProfileImage"></div>
            <p>David Waelsch</p>
            <div class="contactEditIcon"></div>
        </div>
        <div class="contactBlock">
            <div class="contactProfileImage"></div>
            <p>David Waelsch</p>
            <div class="contactEditIcon"></div>
        </div>
        <div class="contactBlock">
            <div class="contactProfileImage"></div>
            <p>David Waelsch</p>
            <div class="contactEditIcon"></div>
        </div>
        <div class="contactBlock">
                    <div class="contactProfileImage"></div>
                    <p>David Waelsch</p>
                    <div class="contactEditIcon"></div>
                </div>
    </div>
    
</div>