@{
    Layout = "_Layout";
}

<div class="AboutUsWrapper">
    <div class="aboutUsRow">
        <h1>About Us</h1>
    </div>
    <div class="aboutUsRow">
        <div class="aboutUsSubImage"></div>
        <div class="WrapText">
            <h1>Hier ein Text</h1>
            <p>Hier noch mehr Text</p>
        </div>
    </div>
    <div class="aboutUsRow">
        <div class="WrapText">
            <h1>Hier ein Text</h1>
            <p>Hier noch mehr Text</p>
        </div>
        <div class="aboutUsSubImage"></div>
    </div>
    <div class="aboutUsRow">
        <div class="aboutUsSubImage"></div>
        <div class="WrapText">
            <h1>Hier ein Text</h1>
            <p>Hier noch mehr Text</p>
        </div>
    </div>
</div>