@{
    Layout = "_LayoutSettings";
}

<h1 class="settingsTitle">Password ändern</h1>
<form class="settingsForm" asp-controller="ChangePassword" asp-action="Update">
    <span>Alte Passwort</span>
    <input class="settingsInput" type="password" required name="CurrentPassword">
    <span>Neue Passwort</span>
    <input class="settingsInput" type="password" required name="NewPassword" >
    <span>Neue Passwort wiederholen</span>
    <input class="settingsInput" type="email" required name="NewPasswordRepeat" >
    <button type="submit">Senden</button>
</form>