@{
    Layout = "_LayoutSettings";
}

<h1 class="settingsTitle">Password ändern</h1>
<form class="settingsForm">
    <span>Alte Passwort</span>
    <input class="settingsInput" type="password" required name="oldPassword">
    <span>Neue Passwort</span>
    <input class="settingsInput" type="password" required name="newPassword" >
    <span>Neue Passwort wiederholen</span>
    <input class="settingsInput" type="email" required name="newPasswordRepeat" >
    <button type="submit">Senden</button>
</form>