@{
    Layout = "_LayoutSettings";
}

<h1 class="settingsTitle">Session Liste</h1>
<table class="settingsTable">
    <thead>
    <tr>
        <td>Land</td>
        <td>Stadt</td>
        <td>Ip</td>
        <td>eingeloggt am</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Land</td>
        <td>Stadt</td>
        <td>Ip</td>
        <td>02.02.1998</td>
    </tr>
    <tr>
        <td>Land</td>
        <td>Stadt</td>
        <td>Ip</td>
        <td>02.02.1998</td>
    </tr>
    <tr>
        <td>Land</td>
        <td>Stadt</td>
        <td>Ip</td>
        <td>02.02.1998</td>
    </tr>
    <tr>
        <td>Land</td>
        <td>Stadt</td>
        <td>Ip</td>
        <td>02.02.1998</td>
    </tr>
    <tr>
        <td>Land</td>
        <td>Stadt</td>
        <td>Ip</td>
        <td>02.02.1998</td>
    </tr>
    <tr>
        <td>Land</td>
        <td>Stadt</td>
        <td>Ip</td>
        <td>02.02.1998</td>
    </tr>
    </tbody>
</table>